.drop {
    padding: 20px 24px 24px 20px;
    width: 436px;
    height: 651px;
    background: #ffffff;
    box-shadow: 0px 7px 40px -7px rgba(0, 0, 0, 0.25);
    border-radius: 25px;

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 651px;
        padding: 0;
    }

    &__chats {
        width: 432px;
    }

    &__create {
        width: 432px;
        height: 42px;
        background: #336cff;
        border-radius: 8px;
        border-color: #336cff;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        color: #fff;
    }
}
