.button {
    cursor: pointer;
    background: #336cff;
    border-radius: 8px;
    width: 153px;
    min-height: 43px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Inter';
    border: none;

    &__disabled {
        background-color: #e4e4e4;
        color: #b5b5b5;
        border-radius: 8px;
        width: 153px;
        height: 43px;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Inter';
        border: none;
    }

    &__long {
        cursor: pointer;
        background: #336cff;
        border-radius: 8px;
        width: 100%;
        min-height: 43px;
        color: #fff;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Inter';
        border: none;
    }
}
